/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

.navbar ul {
  display: flex;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: green;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}
input {
  margin: 1.1rem 0;
}

/* input[type='submit'],
button {
  background-color: #fff;
  color: black;
  border: 2px solid var(--primary-color);
  padding: 0.8rem;
} */

/* Divider between buying stock and Portfolio */
.vert-line {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.vert-line .middle-vert-line {
  border-right: 5px solid;
}

/* Item Styles */
.trans-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.trans-card .shares {
  display: flex;
  justify-content: space-around;
}

/* Portfolio Styles */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
}

/* Text */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-primary {
  text-align: left;
}

.text-over {
  color: var(--success-color);
}
.text-under {
  color: var(--danger-color);
}

/* Buttons */

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.5rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease-in;
}

.stock-btn {
  border: 2px solid var(--primary-color);
  display: block;
  width: 100%;
}

.stock-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Stock Styles */
.stocks-list {
  display: flex;
  flex-direction: column;
}

.stock-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
}

.stock-shares {
  display: flex;
  flex-direction: row;
}

/* Stock Item Transitions */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

/* Register / Login Styles*/

.register-login-form {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.register-login-form input {
  margin: 0.4rem 0;
}

.register-login-form .input-group {
  margin: 1.2rem 0;
}

.alert {
  max-width: 500px;
  margin: 2rem auto;
  color: #333;
  background: var(--light-color);
  padding: 0.5rem;
  text-align: center;
  opacity: 0.9;
  border-radius: 5px;
}

.alert i {
  font-size: 1.3rem;
}

.alert-danger {
  color: #fff;
  background: var(--danger-color);
}
